<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<false/>
	<key>Label</key>
	<string>com.justpurgeit.justpurgeitd</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/justpurgeit.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>2700</integer>
</dict>
</plist>
